@charset "UTF-8";

@media screen and (min-width: 60em) {
  body {
    justify-content: center;
    gap: 1rem;
  }

  .card {
    width: 69.5rem;
    height: 27.875rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: unset;
    border-radius: 0.625rem;
    overflow: hidden;
  }

  .bloc2 {
    width: 50%;
    padding: 0 4.625rem 0 4.625rem;
  }

  .top_image {
    width: 50%;
  }

  .text {
    padding: unset;
  }

  .text > h1,
  .text > p {
    text-align: left;
  }

  .text > h1 {
    font-size: 2.25rem;
    margin-top: .25;
    margin-bottom: 1.25rem;
  }

  .text > p {
    font-size: 0.9375rem;
  }

  picture {
    width: 100%;
    height: unset;
  }

  .overlay {
    border-radius: unset;
  }

  .stats {
    flex-direction: row;
    justify-content: flex-start;
    gap: 4.5rem;
    display: flex;
    padding: unset;
    padding-top: 4.25rem;
  }
}
