@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {

    /* Primary */

--Very-dark-blue: hsl(233, 47%, 7%); /*(main background)*/
--Dark-desaturated-blue: hsl(244, 38%, 16%); /*(card background)*/
--Soft-violet: hsl(277, 64%, 61%); /*(accent)*/

    /* Neutral */

--White: hsl(0, 0%, 100%);  /*(main heading, stats)*/
--Slightly-transparent-white: hsla(0, 0%, 100%, 0.75); /*(main paragraph)*/
--Slightly-transparent-white2: hsla(0, 0%, 100%, 0.6); /*(stat headings)*/

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: var(--Very-dark-blue);
    color: var(--Slightly-transparent-white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card {
    position: relative;
    width: 315px;
    background-color: var(--Dark-desaturated-blue);
    border-radius: 10px;
    margin: 2em 0;
    transition: all .5s;
}

img {
    width: 100%;
    height: 30%;
    border-radius: 10px 10px 0 0;
    opacity: 0.9;
    mix-blend-mode: multiply;
}

.overlay {
    position: absolute;
    background-color: var(--Soft-violet);
    width: 100%;
    height: 30%;
    border-radius: 10px 10px 0 0;
}

.text,
.stats {
    padding: 1.9375em;
}

ul {
    list-style: none;   
}

.text > h1 {
    font-size: 1.5625rem;
    text-align: center;
    margin-bottom: 1em;
}

.text > p {
    font-size: .8750rem;
    text-align: center;
}

.text > h1,
.number {
    color: var(--White);
}

.violet {
    color: var(--Soft-violet);
}

.text > p {
    color: var(--Slightly-transparent-white2);
    line-height: 1.6875em;
}

.stats {
    padding: 0 0 2em 0;
}

.number {
    font-size: 1.4375rem;
    font-weight: 700;
    margin-bottom: .3125em;
}

li {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--Slightly-transparent-white2);
    text-transform: uppercase;
    font-size: 0.75em;
    margin-bottom: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lower {
    text-transform: lowercase;
}

.companies,
.templates,
.queries {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}